<div>
  <div mat-dialog-content>
      <h4><strong>Login</strong></h4>
  </div>
  <div>
    <form [formGroup]="clientProfile" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fist Name" type="text" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="text-danger">
                    <div *ngIf="surname.errors.required">
                        Surname is required.
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Surname" type="text" formControlName="surname" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                    <div *ngIf="phone.errors.required">
                        Phone number is required.
                    </div>
                    <div *ngIf="phone.errors.maxlength">
                        Phone number must be not more than 10 digits
                    </div>
                    <div *ngIf="phone.errors.maxlength">
                        Phone number must be at least 10 digits
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone" formControlName="phone" required>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <div *ngIf="email.errors.required">
                        E-Mail address is required.
                    </div>
                    <div *ngIf="email.errors.email">
                        Invalid E-Mail address
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" formControlName="email" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
                    <div *ngIf="address.errors.required">
                        Address is required.
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Adress" type="text" formControlName="address" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="text-danger">
                    <div *ngIf="city.errors.required">
                        City is required.
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" type="text" formControlName="city" required>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="text-danger">
                    <div *ngIf="postalCode.errors.required">
                        Postal Code is required.
                    </div>
                    <div *ngIf="postalCode.errors.maxlength">
                        postal Code must be at not more than 4 digits
                    </div>
                    <div *ngIf="postalCode.errors.maxlength">
                        Postal Code must be at least 4 digits
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Postal Code" type="text" formControlName="postalCode" required>
                </mat-form-field>
            </div>
        </div>
        <!--                      <div class="row">
            <div class="col-md-12">
                <label>About Me</label>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                </mat-form-field>
                 <div class="form-group">

                  <div class="form-group">
                      <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                      <textarea class="form-control" rows="5"></textarea>
                  </div>
              </div>
            </div>
        </div> -->
        <button type="submit" [disabled]="!clientProfile.valid" class="btn btn-danger pull-right">Submit</button>
        <div class="clearfix"></div>
    </form>
  </div>
</div>