<div class="main-content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class="card-header card-header-danger ">
                        <h4 class="card-title ">Flights</h4>
                        <p class="card-category ">List of Flights</p>
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive scrollit">
                            <table class="table ">
                                <thead class=" text-primary ">
                                    <th>
                                        ICAO 24
                                    </th>
                                    <th>
                                        Depature Airport
                                    </th>
                                    <th>
                                        Arrival Airport
                                    </th>
                                    <th>
                                        Call Sign
                                    </th>
                                    <th>
                                        Departure Airport Distance
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let flight of flights">
                                        <td>
                                            {{ flight.icao24}}
                                        </td>
                                        <td>
                                            {{ flight.estDepartureAirport}}
                                        </td>
                                        <td>
                                            {{ flight.estArrivalAirport}}
                                        </td>
                                        <td>
                                            {{ flight.callsign }}
                                        </td>
                                        <td>
                                            {{ flight.estDepartureAirportHorizDistance}} KM
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" (click)="onView()">View</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>